* {
    padding: 0;
    margin: 0;
}

#app {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.container {
    width: inherit;
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
}
