<div class="content">
    <div class="container">
        <section>
            <div class="content__box">
                <div class="content__box-good-developer">
                    <span>
                        <div class="good-developer__title">opinião</div>
                        <h1 class="good-developer__description">Como é ser um desenvolvedor</h1>
                        <div class="good-developer__autor"><strong>By</strong> Fabio Tetsuo</div>
                    </span>
                </div>
            </div>
        </section>
    </div>
</div>