<div class="content">
    <section class="container">
        <div class="content__box grid">
            <div class="content__box-good-developer">
                <span>
                    <div class="good-developer__title">opinião</div>
                    <h1 class="good-developer__description">Como é ser um desenvolvedor</h1>
                    <div class="good-developer__autor"><strong>By</strong> Fabio Tetsuo</div>
                </span>
            </div>
            <div id="content-box-card-popular-posts" class="content__box-recents-posts"></div>
            <div id="content-box-card-recent-posts" class="content__box-recent-posts"></div>
            <div id="content-box-categories" class="content__box-categories"></div>
        </div>
    </section>
</div>